body {
  margin: 0;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  background: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Philosopher", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
